<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jokes App</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="imgdiv">
        <img src="public/images/img1.jpg" alt="img1">
    </div>
    <div class="container">
        <div class="response-area">
            <p>
              <%= jokes %>
            </p>
          </div>
        <div>
            <form action="/categories" method="post">
                <label for="categories-btn">To get Categories click here : </label>
                <button type="submit" id="categories-btn" class="btn">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>